.summary-card {
    background-color: var(--uicolor);
    width: 60vw;
    height: auto;
    padding: 60px 60px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.05);
}

.summary-card img {
    width: 100%;
    margin-bottom: 30px;
}

.description {
    display: flex;
}

.description p {
    width: 60%;
    margin-right: 30px;
}

.frameworks {
    background-color: var(--bgcolor);
    width: 40%;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.frameworks h1 {
    font-size: 24px;
    color: var(--hdcolor);
    margin: 30px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.frameworks p {
    width: 100%;
    text-align: center;
    margin: 30px;
    margin-top: 15px;
}

@media screen and (max-width:800px) {
    .summary-card {
        width: 400px;
    }

    .description {
        display: flex;
        flex-wrap: wrap;
    }

    .description p {
        width: 100%;
        margin-right: 0;
    }

    .frameworks {
        width: 100%;
        margin: 30px 0;
        padding: 30px;
    }

    .frameworks p {
        margin: 30px;
    }
}